@keyframes logo-fall {
  0% {

    transform: translate(0px,-2px);

  }
  100% {

    transform: translate(0px,0px);
  }
}

@keyframes logo-rise {
  0% {

    transform: translate(0px,0px);

  }
  100% {


    transform: translate(0px,-2px);
  }
}

@keyframes logo-bounce {
  0% {

    transform: translate(0px,0px);

  }
  30% {


    transform: translate(0px,-3px);
  }

  40% {


    transform: translate(0px,-3px);
  }

  100% {
    transform: translate(0px,0px);
  }
}

@keyframes color-pulse {
  0% {
    fill: $charcoal;
  }

  20% {
    fill: $orange;
  }


  40% {
    fill: $dark-mint-green;
  }


  60% {
    fill: $blue;
  }


  80% {
    fill: $pink;
  }

  100% {
    fill: $charcoal;
  }
}

@keyframes color-pulse-white {
  0% {
    fill: white;
  }

  20% {
    fill: $orange;
  }


  40% {
    fill: $dark-mint-green;
  }


  60% {
    fill: $blue;
  }


  80% {
    fill: $pink;
  }

  100% {
    fill: white;
  }
}


@keyframes move-arrow {
  0% {
    color: $charcoal;
    transform: translate(0px, 0px);

  }
  100% {
    color: white;
    transform: translate(5px, 0px);
  }
}

@keyframes button-fall {
  0% {
    transform: translate(0px, -3px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes button-rise {
  0% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(0px, -3px);
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(25deg);
  }

  40% {
    transform: rotate(-25deg);
  }

  60% {
    transform: rotate(25deg);
  }

  80% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


@keyframes button-surround-top {
  0% {
    width: 0px;
    transform: translate(142px, 0px);
  }

  100% {
    width: 283px;
    transform: translate(0px, 0px);

  }
}

@keyframes button-surround-sides {
  0% {
    height: 0px;
  }

  100% {
    height: 60px;
  }
}

@keyframes button-surround-bottom {
  0% {
    width: 0px;

  }

  100% {
    width: 283px;

  }
}

@keyframes arrow-pulse-white {
  0% {
    fill: white;
  }

  50% {
    fill: black;
  }

  100% {
    fill: white;
  }

}

@keyframes arrow-pulse-black {
  0% {
    fill: black;
  }

  50% {
    fill: white;
  }

  100% {
    fill: black;
  }

}
