html {
    -webkit-font-smoothing: antialiased;
    
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

#dark {
  background-color: $charcoal;
}

h1,h2,h3,h4,h5,h6,p,li,a,input,form,textarea {
  font-family: "adelle-sans", sans-serif;
}

.small-header {
  color: $charcoal;
  line-height: 27px;
  font-weight: 700;
  font-size: 25px;
}

.body-writing {
  color: $charcoal;
  font-size: 19px;
  line-height: 27px;
}

.small {
  @extend .body-writing;
  font-size: 13px;
}


//*************
//The headings of pages and sections that look similar
//*************

  //should still only be one of these, even if the page has multiple things that looks like this
  header {
    padding: 62px 0 76px;
  }

  //the white about/what we do/projects heading that appears on each page

  .white-title {
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 9px;
    text-align: center;



  }

  //the dark text large header that goes undernearth the page title
  .page-description {

    color: $charcoal;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    text-align:center;
    
    margin: auto;

    .page-description-small {
      font-weight:500;
    }

  }

  //descriptive text that appeaers below the header on some pages
  #page-info {
    margin-bottom: 54px;

    .small-header {
      font-size: 24px;
      color: $charcoal;
      font-weight: 400;
      text-align:center;
      line-height: 36px;

      .embolden {
        font-weight: 700;
        font-family: "adelle";
        font-size: 24px;
      }
    }
  }

//*************


.section-header {
  color: $charcoal;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.section-body {
  @extend .body-writing;
  display: block;
  margin: 0 auto 60px;
  max-width: 570px
}

#mobile-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  text-align: center;
  display: none;

  #mobile-menu-inner {
    width: 82%;
    margin: auto;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #mobile-menu-close {
    color: white;
    display: block;
    text-align: right;
    font-size: 19px;
    cursor: pointer;
    padding: 40px;
    right: -15%;
    top: 4px;
    position: absolute;

  }

  .logo-link {
    display: block;
    margin: 23px;

    #mobile-menu-logo {
      fill: white;
    }
  }


  a {
    @include transition(color, 100ms);
    color: white;
    text-decoration: none;
    font-size: 28px;
    padding: 12px 0px;
    display: block;
    opacity: 0;
    font-weight: 700;


  }

  a:hover {
    color: white;
    font-size: 28px;
  }

  .link-animate {
    animation: mobile-link-fade-in 0.6s forwards;
  }

  .link-animate-slow {
    animation: mobile-link-fade-in 0.7s forwards;
  }

  .link-animate-slower {
    animation: mobile-link-fade-in 0.9s forwards;
  }

  .active {
    color: $charcoal;
    font-weight: 700;
  }

  .active:hover {
    color: $charcoal;
  }
}


//mobile menu colors

  .green-menu {
    background-color: $trans-green;
  }

  .blue-menu {
    background-color: $trans-blue;
  }

  .orange-menu {
    background-color: $trans-orange;
  }

  .red-menu {
    background-color: $trans-red;
  }

  .black-menu {
    background-color: $trans-black;
  }
//
//

//makes pages description below header 82% wide
@media (max-width: 800px) {
  #page-info {
    width: 82%;
    margin-left: auto;
    margin-right: auto;

    br {
      display: none;
    }
  }

  .page-description {
    max-width: 82%;
  }
}

//makes header text inline
@media (max-width: 720px){
  header {
    br {
      display: none;
    }
  }
}


@media (max-width: 500px) { 




  #page-info {
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42px;

    .small-header {
      br {
        display: none;
      }

      .embolden {

      }
    }
  }
}
//reduces font-size on header
@media (max-width: 450px) {
  header {
    padding: 39px 0 47px;
    
  }

  .white-title {
    font-size: 20px;
  }

  .page-description {
    font-size: 38px;
    line-height: 44px;
  }
}