html {
    -webkit-font-smoothing: antialiased;
    
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

#dark {
  background-color: $charcoal;
}

h1,h2,h3,h4,h5,h6,p,li,a,input,form,textarea {
  font-family: "adelle-sans", "sans-serif";
}

.small-header {
  color: $charcoal;
  line-height: 27px;
  font-weight: 700;
  font-size: 25px;
}

.body-writing {
  color: $charcoal;
  font-size: 19px;
  line-height: 27px;
}

.small {
  @extend .body-writing;
  font-size: 13px;
}


//*************
//The headings of pages and sections that look similar
//*************

  //should still only be one of these, even if the page has multiple things that looks like this
  header {
    padding: 62px 0 76px;
  }

  //the white about/what we do/projects heading that appears on each page

  .white-title {
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 9px;
    text-align: center;



  }

  //the dark text large header that goes undernearth the page title
  .page-description {

    color: $charcoal;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    text-align:center;
    
    margin: auto;

    .page-description-small {
      font-weight:500;
    }

  }

  //descriptive text that appeaers below the header on some pages
  #page-info {
    margin-bottom: 54px;

    .small-header {
      font-size: 24px;
      color: $charcoal;
      font-weight: 400;
      text-align:center;
      line-height: 36px;

      .embolden {
        font-weight: 700;
        font-family: "adelle";
        font-size: 24px;
      }
    }
  }

//*************


.section-header {
  color: $charcoal;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.section-body {
  @extend .body-writing;
  display: block;
  margin: 0 auto 60px;
  max-width: 570px
}

//makes pages description below header 82% wide
@media (max-width: 800px) {
  #page-info {
    width: 82%;
    margin-left: auto;
    margin-right: auto;

    br {
      display: none;
    }
  }

  .page-description {
    max-width: 82%;
  }
}

//makes header text inline
@media (max-width: 720px){
  header {
    br {
      display: none;
    }
  }
}


@media (max-width: 500px) { 




  #page-info {
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42px;

    .small-header {
      br {
        display: none;
      }

      .embolden {

      }
    }
  }
}
//reduces font-size on header
@media (max-width: 450px) {
  header {
    padding: 39px 0 47px;
    
  }

  .white-title {
    font-size: 20px;
  }

  .page-description {
    font-size: 38px;
    line-height: 44px;
  }
}