$nearly-black: #2A2929;
$charcoal: #333333;
$light-charcoal: #4E4E4E;
$grey: #A4A4A4;
$light-grey: #C5C3C3;


$dark-mint-green: #00b070;

$blue: #009cd7;
$dark-blue:#086788;

$pink: #fd4561;

$light-orange: #f9a94c;
$orange: #fc9e33;



