#about {

  .about-title-section {
    background-color: $blue;

  }

  #who-are-we {
    padding: 64px 0 10px;

    .section-header {
      margin: 0 0 45px;
    }

    .section-body  {
      line-height: 28px;
      max-width: 664px;
    }
  }

  #what-do-we-do {
    background-color: $orange;
    padding: 76px 0 45px;

    .white-title {
      margin-bottom:38px;
    }

    .section-header {
      margin-bottom: 36px;
      
    }

    >.section-body {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 566px;
      margin-bottom: 45px;
      line-height: 28px;

      .italic {
        font-style: italic;
        font-family: adelle;
      }
    }

    .about-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: auto;
      max-width: 880px;


      .about-button {
        border: 2px solid white;
        border-radius: 4px;
        box-sizing: border-box;
        color: white;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 36px;
        padding-bottom: 3px;
        text-align:center;
        flex: 0 0 28.5%;
        align-items: center;
        justify-content: center;
        display: flex;
        line-height: 37px;
        height: 120px;
      }


      .half-size {
        flex: 0 0 12%;

      }
    }

  }

  #why-do-we-do {
    background-color: $light-orange;

    .content {
      max-width: 880px;
      margin: auto;
      display: flex;
      padding: 71px 0px 62px;

      img {
        width: 391px;
        height: 257px;
      }

      .right {
        padding:5px 30px 0px 46px;

        .small-header {
          margin-bottom: 27px;
        }

        .body-writing {
          line-height: 28px;
        }

        .bold {
          font-weight: 700;
          font-family: adelle;
          
        }
      }
    }
  }

  #meet-the {
    padding: 73px 0px 69px;

    .section-header {
      margin: 0 0 44px;
    }

    .half-logo-top {
      left: 10px;
      position: relative;
      top: 7px;
    }

    br {
      display: none;
    }


    #profile-pictures {
      display: flex;
      justify-content: space-around;
      margin: 0px auto 53px;
      max-width: 870px;
      flex-wrap: wrap;


      .profile-picture-container {
        width: 392px;

        .profile-picture{
          align-items: flex-end;
          border-radius: 3px;
          display:inline-flex;
          height: 392px;
          overflow:hidden;
          width: inherit;

          .text-container {
            align-items: flex-end;
            display: flex;
            padding: 16px 33px 20px;
            width: 100%;

            .text-left {
              color: white;
              font-size: 25px;
              font-weight: 700;


            }

            .fa-location-arrow {
              bottom: 2px;
              color: white;
              margin-left: auto;
              position: relative;
              right: 6px;

            }

            .text-right {
              bottom: 2px;
              color: white;
              font-size: 19px;
              position: relative;
              text-align: right;


            }
          }
        }

        #brian-picture {
          background-image: url(../assets/about/brian.jpg);
        }

        #gerry-picture {
          background-image: url(../assets/about/gerry.jpg);
        }

        #brian-color {
          background-color: $blue;
        }

        #gerry-color {
          background-color: $dark-mint-green;
        }

        .description {
          padding: 33px 0px 0px;
          .serif {
            font-family: "adelle";
            font-weight: 700;
          }

          p {
            @extend .body-writing;
            margin-bottom: 25px;
          }

          a {
            @extend .body-writing;
            color: $blue;
            display: block;
            text-decoration: none;

          }

          a:hover {
            @include transition(color, 100ms);
            color: $dark-blue;
          }
        }

      }

    }

    #collaborators {
      max-width: 826px;
      display: flex;
      margin: auto;
      border-radius: 8px;
      padding: 27px 30px 30px;
      box-sizing: border-box;
      border: 1px solid $light-grey;

      .half-logo-bottom {
        width: 80px;
        height: auto;
        position: relative;
        top: 2px;
      }

      p {
        @extend .body-writing;
        padding: 0px 41px;
      }
    }

    #job-opportunities {
      @extend .body-writing;
      color: #9F9F9F;
      font-style: italic;
      text-align: center;
      margin-top: 27px;
    }
  }

  #how-do-we-work {
    background-color: $pink;
    padding: 77px 0 15px;

    .content {
      max-width: 880px;
      margin: auto;
      display: flex;
      padding: 47px 0px 62px;

      img {
        width: 391px;
        height: 257px;
      }

      .right {
        position: relative;
        bottom: 3px;
        padding:0px 30px 0px 46px;

        .section-header {
          margin-bottom: 37px;
          text-align: left;
        }

        .body-writing {
          color: white;
          line-height: 28px;
          margin-bottom: 32px;
        }

        .bold {
          font-weight: 700;
          font-family: adelle;
        }

        .white-button {
          font-size: 18px;
          font-weight: 700;
          padding: 15px 30px 16px;
          background-color: transparent;
          color: white;
          border: 1px solid white;
          box-sizing:border-box;
        }

        .white-button:hover {
          background-color: white;
          color: $pink;
        }
      }
    }
  }

  #in-the-community {
    padding: 80px 0px 0px;

    .section-header {
      margin: 0 0 75px;
    }

    img {
      display:block;
      margin: auto;
      margin-bottom: 52px;
    }

    .small-header {
      text-align:center;
      margin-bottom: 43px;

      br {
        display: none;
      }
    }

    .section-body {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 570px;
      margin-bottom: 22px;
      line-height:28px;
    }
  }


}

@media (max-width: 880px) { 
  #about {
    #who-are-we {
      padding: 47px 0 9px;

      .body-writing {
        width: 82%;
        padding: 0 9%;
        font-size: 18px;
      }

    }

    #what-do-we-do {
      padding: 56px 0 40px;

      .white-title {
        margin-bottom: 38px;
      }

      .body-writing {
        width: 82%;
        padding: 0 9%;
        font-size: 18px;
      }

      .about-buttons {

        .about-button {
          flex: 0 0 82%;
          color: $light-charcoal;
          border-color: $light-charcoal;
          font-size: 19px;
          height: initial;
          padding: 10px 10px 12px;
          margin-bottom: 20px;
        }

        br {
          display: none;
        }

        .half-size {
          display: none;
        }
      }


    }

    #why-do-we-do {

      .content {
        padding: 55px 0px 67px;

        img {
          display: none;
        }

        .right {
          padding: 0;

          .small-header {
            width: 82%;
            padding: 0 9%;
            text-align: center;
          }

          .body-writing {
            width: 82%;
            padding: 0 9%;
            font-size: 18px;
            text-align: center;
          }

        }
      }
    }

    #meet-the {
      padding: 53px 0px 79px;

      .section-header {
        text-align: center;
        margin: 0 0 62px;
        
      }

      br {
         display: inline-block;
      }

      .half-logo-top {
        left: 0;
        top: 15px;
      }

      #profile-pictures{

        .brian-container {
          margin-bottom: 60px;
        }

        .profile-picture-container {

          .profile-picture {
            margin-bottom: 25px;

          }

          .description {
            width: 98%;
            padding: 0 1%;
            font-size: 18px;

          }

        }


      }

      #collaborators {
        flex-wrap: wrap;
        justify-content: center;
        width: 82%;

        .half-logo-bottom {
          width: 72px;
          margin-bottom: 20px;
        }

        p {
          flex: 0 0 100%;
          padding: 0;
          text-align: center;
        }
      }

    }

    #how-do-we-work {
      padding-top: 56px;

      .content {
        display: block;
        padding: 43px 0px 52px;


        img {
          width: 82%;
          padding: 0 9%;
          height: auto;
          margin-bottom: 40px;
        }

        .right {
          width: 82%;
          padding: 0 9%;

          .section-header {
            text-align: center;
          }

          .section-body {
            margin-bottom: 60px;
          }

          .button-container {
            text-align:center;
          }
        }
      }
    }

    #in-the-community {
      padding: 55px 0px 0px;

      .section-header {
        width: 82%;
        padding: 0 9%;
        line-height: 53px;
        font-size: 37px;
        margin-bottom: 44px;
      }

      img {
        width: 82%;
        padding: 0 9%;
        margin-bottom: 30px;
      }

      .small-header {
        width: 82%;
        padding: 0 9%;
        line-height: 35px;
        margin-bottom: 28px;

        br {
          display: inline-block;
        }
      }

      .section-body {
        width: 82%;
        padding: 0 9%;
      }
    }
  }
}

@media (max-width: 430px) {

  #about {

    #meet-the {

      #profile-pictures{

        .profile-picture-container {
          width: 300px;

          .profile-picture {
            height: 300px;
            background-size: 100%;

            .text-container {
              padding: 15px 14px 19px;

              .text-left {
                font-size: 22px;
              }

              .fa-location-arrow {
                font-size: 13px;
                bottom: 2px;
              }

              .text-right {
                font-size: 16px;
                bottom: 1px;
              }
            }
          }
        }
      }

    }

  }
  
}

@media (max-width: 330px) {

  #about {

    #meet-the {

      #profile-pictures{

        .profile-picture-container {
          width: 260px;

          .profile-picture {
            height: 260px;
            background-size: 100%;

            .text-container {
              padding: 12px 11px 15px;

              .text-left {
                font-size: 21px;
              }

              .fa-location-arrow {
                font-size: 12px;
                bottom: 3px;
              }

              .text-right {
                font-size: 14px;
                bottom: 1px;
              }
            }
          }
        }
      }

    }

  }
  
}