#contact {

  .contact-title-section {
    background-color: $pink;
    margin-bottom: 100px;
  }

  #project-planner {
    background-color: $orange;
    color: white;
    width: 824px;
    margin: auto;
    display: flex;
    margin-bottom: 100px;

    .text-container {
      background-color: $charcoal;
      padding: 31px 45px;


      .section-header {
        color: white;
        text-align: left;
        margin-bottom: 39px;
        line-height: 48px;

      }

      .small-header {
        font-size: 24px;
        color: white;
        font-weight: 400;
        margin-bottom: 30px;
      }

      .body-writing {
        line-height:28px;
        color: white;
        margin-bottom: 211px;
      }

      .orange-button-container {

        .background-container {
          width: 0px;
          height: 0px;
          position: relative;
          bottom: 2px;
          right: 2px;

          .background-top {
            height: 2px;
            width: 0px;
            background-color: white;
            border-radius: 7px 7px 0px 0px;
            animation-delay: 0.8s;

          }
          .background-sides {
            height: 0px;
            width: 283px;
            background-color: white;
            animation-delay: 0.4s;

          }
          .background-bottom {
            height: 2px;
            width: 0px;
            background-color: white;
            border-radius: 0px 0px 7px 7px;
            animation-delay: 0.0s;

          }
        }

        .orange-button {
          position:relative;
          width: 279px;
          box-sizing:border-box;
          z-index:100;
          font-size: 18px;
          padding: 15px 30px 18px;

        }
      }

      .orange-button-container:hover {

        .background-top {
          animation: button-surround-top 0.4s forwards;
        }

        .background-sides {
          animation: button-surround-sides 0.4s forwards;
          animation-delay: 0.4s;
        }

        .background-bottom {
          animation: button-surround-bottom 0.4s forwards;
          animation-delay: 0.8s;
        }
      }
    }

    .arrow-container {

      flex: 0 0 25%;
      padding: 10px;
      box-sizing:border-box;
      text-align:center;

      .svg-arrow {
        margin: 8px 10px;
      }

      .white-arrow {

        .color {
          fill: white;
        }

      }

      .black-arrow {

        .color {
          fill: black;
        }

      }

      .white-arrow-animation {
        animation: arrow-pulse-white 2s infinite;
      }

      .black-arrow-animation {
        animation: arrow-pulse-black 3s infinite;
      }


    }

  }


  #contact-form {

    padding: 25px 32px 28px;
    border: 1px solid $light-grey;
    max-width: 610px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 80px;



    .section-body {
      flex: 0 0 100%;
      max-width: none;
      text-align: center;
      line-height: 27.4px;
      margin-bottom: 31px;
      padding: 0px 40px;
      font-size: 18px;

    }

    .error {
      color: $pink;
    }

    .success {
      color: $dark-mint-green;
    }

    #submission-form {
      display: flex;
      box-sizing:border-box;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;


      .form-field {
        flex: 0 0 45%;

        label {
          @extend .body-writing;
          display: block;
          box-sizing: border-box;
          margin-bottom: 11px;
          font-size: 18px;
        }

        input, textarea {
          @extend .body-writing;
          display: block;
          width: 100%;
          box-sizing: border-box;

          border: 1px solid $light-grey;
          padding: 5px 10px 6px;
          font-size: 18px;
          padding: 4px 10px 7px;
          margin-bottom: 20px;
          border-radius: 5px;
          font-weight: 300;

        }

        input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $grey;
        }
        input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
          color: $grey;
        }
        input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
          color: $grey;
        }
        input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
          color: $grey;
        }


        textarea {
          height: 110px;
          margin-bottom: 32px;
          max-width: 100%;

        }
      }

      .large {
        flex: 0 0 100%;

        label {
          margin-top: 5px;
        }
      }

      .orange-button {
        padding: 5px 16px 6px;
      }

      #required-fields {
        color: $light-grey;
        font-weight: 300;
        font-size: 18px;
      }
    }
  }



}
