footer {
  margin: 0 0 15px;
  overflow: hidden;
  padding: 50px 0px 0px;
  position: relative;

  #background {
    background-color: rgb(233, 233, 233);
    height: 100%;
    position: absolute;
    padding-top: 100px;
    top: 176px;
    transform: skewY(-7deg);
    width: 100%;
    z-index: -2;
  }

  #cards {
    display: flex;
    max-width: 880px;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 50px;
    flex-wrap: wrap;

    #our-process-card {
      background-color: $pink;
    }

    #newsletter-card {
      background-color: $dark-mint-green;
    }

    .card {
      @extend .body-writing;
      width: 392px;

      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid rgb(198, 191, 191);
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;



      h3 {
        @extend .small-header;
        margin-bottom: 16px;
      }

      .card-inner {
        padding: 23px 32px 0px;
        flex: 0 0 100%;
        box-sizing: border-box;



        p {
          color: white;
          margin-bottom: 23px;
          line-height: 27.5px;

        }

        .small {
          color: $charcoal;
          margin-bottom: 0px;
          text-align: center;
          padding: 9px 0px 15px;
        }

        .error {
          color: #801212;
        }

        .success {
          color: white;
        }
      }

      #stay-connected-container {
        background-color: white;
        flex: 0 0 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        h3 {
          margin: 0px;
          padding: 7px 0px 7px 31px;
        }

        a {
          text-decoration: none;
        }

        i {
          @include transition(color, 100ms);
          font-size: 24px;
          color: $charcoal;
        }

        i:hover {
          color: $blue;
          cursor: pointer;
        }

        .twitter-icon {
          margin-left: auto;
          margin-right: 15px;
        }

        .instagram-icon {
          margin-right: 27px;
        }
      }

      #email-submission {
        display: flex;
      }

      .email-field{
        border: none;
        border-radius: 4px 0px 0px 4px;
        font-size: 18px;
        padding: 0px 0px 2px 15px;
        box-sizing: border-box;
        width: 225px;
      }

      .orange-button-form {
        @extend .orange-button;
        border-radius: 0px 4px 4px 0px;
        padding: 6px 11px 6px;
        -webkit-appearance: none;
        border: none;
      }

      //fixes form button on safari and iphone browsers.
      .orange-button-form-fix {
        position: relative;
        right: 2px;
        padding: 5px 11px 7px ;

      }
    }

  }

  #work-with-us {
    display: flex;
    max-width: 843px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 53px;

    .description {
      @extend .small-header;

      h3 {
        margin-bottom: 10px;
      }
      p {
        font-size: 24px;
        font-weight: 500;
      }
    }


    .buttons {
      .orange-button {
        margin-right: 14px;
        padding: 8px 16px;
      }

      .white-button {
        margin-right: 18px;
        padding: 8px 16px;
      }
    }
  }

  #bottom-nav {

    background-color: $nearly-black;

    #footer-logo-link {
      display: flex;
      align-items: center;

      svg {
        overflow: visible;
      }

    }

    #footer-logo-link:hover {

      #logo {
        animation: color-pulse-white 5s infinite;
      }
      #move {
        animation: logo-bounce 0.3s forwards;
      }
    }

    #bottom-nav-inner {
      justify-content: space-around;
      display: flex;
      margin: auto;
      max-width: 949px;

      ul {
        width: 300px;
        text-align:center;

        li {
          display: inline-block;
          color: white;

          a {
            @extend .body-writing;
            color: white;
            text-decoration: none;
            padding: 13px 0px 14px;
            display: inline-block;
          }
        }

        li::after {
          content: "\00B7";
          font-size: 17px;
          margin-left: 7px;
          margin-right: 2px;
        }

        li:last-child::after {
          content: "";
        }
      }

      a {
        @include transition(color, 100ms);
        text-decoration: none;
        display: flex;
      }

      a:hover {
        color: $blue;
      }
    }
  }
}

#copyright {
  .small {
    text-align:center;
    margin-bottom: 16px;
    font-size: 12px;
  }
}


@media (max-width: 880px) { 
  footer {
    margin: 0;
    #background {
      display: none;
    }

    #cards {

      .card {
        width: 82%;

        .card-inner {
          padding: 23px 26px 0px;

          #email-submission {
            display: block;
            
          }

          .email-field{
            border-radius: 4px 4px 4px 4px;
            width: 100%;
            text-align: center;
            padding: 6px 0px 8px;
            max-width: 300px;
            margin: auto;
            margin-bottom: 11px;
            display: block;
            
          }

          .orange-button-form, .orange-button-form-fix {
            position: static;
            border-radius: 4px 4px 4px 4px;
            width: 100%;
            max-width: 300px;
            margin: auto;
            display: block;
            
          }

          .small {
            font-size: 12px;
            line-height: 15px;
            padding: 11px 0px 17px;
          }
        }
      }

      #our-process-card {
        margin-bottom: 37px;

        .card-inner {
          padding-bottom: 30px;

          .orange-button {

            display: block;
            text-align: center;
            max-width: 300px;
            margin: auto;
          }

          br {
            display: none;
          }
        }

        #stay-connected-container {
          display: none;
        }
      }

      #newsletter-card {

      }
    }

    #work-with-us {
      width: 100%;
      background-color: #E6E6E6;
      margin-bottom: 0px;
      text-align: center;
      display: block;
      padding: 35px 0px 40px;

      .description {
        width:82%;
        margin: auto;
        margin-bottom: 35px;
      }

      .buttons {
        width:82%;
        margin: auto;

        .orange-button, .white-button {
          width: 100%;
          max-width: 250px;
          padding-left: initial;
          padding-right: initial;
          margin: 0;
        }

        .orange-button {
          margin-bottom: 11px;
        }
      }
    }

    #bottom-nav {

      #bottom-nav-inner {
        flex-wrap: wrap;
        padding: 42px 0px 38px;

        ul {
          flex: 0 0 100%;

          li {
            a {
              padding: 5px 2px 6px;
            }
          }
        }

        .grey-nav {
          margin-bottom: 8px;

          li {
            a {
              color: grey;
            }
            a:hover {
              color: $blue;
            }
          }

          li:after {
            color: grey;
          }

        }

        #footer-logo-link {
          flex: 0 0 100%;
          order: -2;
          margin-bottom: 16px;

          svg {
            margin: auto;
          }
        }

        .elsewhere {
          display: flex;

          .body-writing { 
            color: grey;
            margin-right: 19px;
          }

          a {
            text-decoration: none;
          }

          i {
            @include transition(color, 100ms);
            font-size: 24px;
            color: white;
            position: relative;
            top: 3px;
          }

          i:hover {
            color: $blue;
            cursor: pointer;
          }

          .twitter-icon {
            margin-left: auto;
            margin-right: 15px;
          }

          .instagram-icon {
            margin-right: 27px;
          }
        }
      }
    }
  }

  #copyright {
    .small {
      width:82%;
      margin: auto;
      line-height: 18px;
      padding: 20px;
    }
    
  }
}

//stack links when screen gets small enough
@media (max-width: 320px) { 
  footer {


    #bottom-nav {

      #bottom-nav-inner {
        flex-wrap: wrap;
        padding: 40px 0px;

        ul {
          flex: 0 0 100%;

          li {

            display: block;
            
          }

          li:after {
            content: "";
          }

        }
        
        .grey-nav {
          margin-bottom: 20px;
        }
      }
    }
  }
}