#top-nav {

  align-items: center;
  display: flex;
  margin: auto;
  max-width: 910px;

  .logo-link {
    display: inline-block;
    margin: 23px;

    svg {
      overflow: visible;
    }
  }

  #nav-bar-logo-container {

  }

  .logo-link:hover {

    #nav-bar-logo-container {
      animation: logo-bounce 0.3s forwards;
      #nav-bar-logo {

        animation: color-pulse 5s infinite;
      }

    }

  }

  ul {
      display: inline-block;
      text-align: right;
      width: 100%;
  }

  li {
    display: inline-block;
  }

  a {
    @include transition(color, 100ms);
    color: $charcoal;
    font-size: 18px;
    margin-right: 17px;
    text-decoration: none;

  }

  a:hover {
    color: $blue;
  }

  .active {
    color: $blue;
  }

  .active:hover {
    color: $dark-blue;
  }

  #mobile-menu-open {
    display: none;
    margin-right: 23px;

    i {
      margin-left: 2px;
    }
  }

}


#dark {
  #top-nav {
    a {
      color: white;
    }

    a:hover {
      color: $blue;
    }

    .active {
      color: $blue;
    }

    .active-hover {
      color: $dark-blue;
    }

    #nav-bar-logo {
      fill: white;
    }

    .logo-link:hover {

      #nav-bar-logo-container {
        animation: logo-bounce 0.3s forwards;
        #nav-bar-logo {

          animation: color-pulse-white 5s infinite;
        }

      }

    }

  }
}

@media (max-width: 560px) {
  #top-nav {
    ul {
      display: none;
    }
    #mobile-menu-open {
      display: block;
      margin-left: auto;
    }
  }
}