///////////////////
//Nav/////////////
/////////////////

#top-nav {

  align-items: center;
  display: flex;
  padding: 0px 60px;

  .logo-link {
    display: inline-block;
    padding: 23px;
  }

  ul {
      display: inline-block;
      text-align: right;
      width: 100%;
  }

  li {
    display: inline-block;
  }

  a {
    color: $charcoal;
    font-size: 18px;
    margin-right: 17px;
    text-decoration: none;

  }

  a:hover {
    color: $link-blue;
  }

}
