#projects {

  .projects-title-section {
    background-color: $orange;
    margin-bottom: 33px;

  }

  #examples {
    display: flex;
    max-width: 865px;
    margin: auto;
    padding: 0px 20px 60px;
    box-sizing:border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .portfolio-image {
      text-align:center;
      margin-bottom: 50px;

      img {
        width: 100%;
        margin-bottom: 26px;
      }

      p {
        @extend .body-writing;
        width: 100%;
        display: inline-block;


        .serif {
          font-family: "adelle";
          font-weight: 700;
        }
      }

    }

    .large {
      flex: 0 0 100%;

      p {
        width: 85%;
      }
    }

    .medium, .small {
      flex: 0 0 48%;


    }


  }

  #burns-unit {
    background-color: $charcoal;
    padding: 79px 0 0px;
    position:relative;
    margin-bottom:320px;

    .section-header {
      color: white;
      margin-bottom: 58px;
    }

    .body-writing {
      color: white;
      max-width: 619px;
      margin: auto;
      margin-bottom: 28px;
    }

    .slanted-container {
      height: 0px;
      width: 100%;
      position: relative;
      z-index: -1;
      bottom: 150px;
    }

    .slanted {
      background-color: $charcoal;
      height: 300px;
      width: 100%;
      transform: skewY(-7deg);
      position: relative;
    }

  }



  #companies {
    margin-bottom: 69px;


    .section-header {
      margin-bottom: 28px;
    }

    .section-body {
      max-width: 619px;
      line-height: 27.8px;
      margin-bottom: 43px;

    }

    a {
      color: $blue;
      text-decoration: none;
    }

    .companies {
      width: 822px;
      display: flex;
      margin: auto;
      box-sizing:border-box;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      img {
        margin-bottom: 40px;
      }
    }
    .companies-2 {
      width: 650px;
      display: flex;
      margin: auto;
      box-sizing:border-box;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      img {
        margin-bottom: 40px;
      }
    }
  }

}
