{% set menu_color = "black" %}

{% if page === "home" %}
    {% set menu_color = "green-menu" %}
{% elif page === "about" %}
    {% set menu_color = "blue-menu" %}
{% elif page === "projects" %}
    {% set menu_color = "orange-menu" %}
{% elif page === "contact" %}
    {% set menu_color = "red-menu" %}
{% else %}
    {% set menu_color = "black-menu" %}
{% endif %}

<div id="mobile-menu" class="{{ menu_color }}">
    <div id="mobile-menu-inner">
        <i id="mobile-menu-close" class="fa fa-times" aria-hidden="true"></i>

        {% include "templates/partials/_links.html" %}
    </div>
</div>