<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BurnsBros</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="styles/font-awesome.min.css" rel="stylesheet">
  <link href="styles/main.css" rel="stylesheet">

  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/script.js"></script>

  <script src="https://use.typekit.net/ihw6ydu.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
<body>

  {% include "templates/partials/_nav.html" %}
  {% block content %} {% endblock %}
  {% include "templates/partials/_footer.html" %}

</body>
</html>
