<!-- active navbar link -->
{% set page = "about" %}

{% extends "templates/template.html" %}

{% block content %}

  <main id="about">
    <header class="about-title-section">
      <h1 class="white-title">ABOUT</h1>
      <p class="page-description">
        Hi! We're Burns Bros. & Co.
        <br>
        <span class="page-description-small">We're a remote UX design studio.</span>
      </p>
    </header>

    <section id="who-are-we">
      <h2 class="section-header">Who Are We?</h2>

      <p class="section-body">
       Hello, we’re Burns Bros. & Co. We’re a newly formed (mostly digital) independent UX design studio 
       that’s working remotely out of Belfast and South Yorkshire.
       <br><br>
       Our cross-functional creative team of designers, 
       developers and strategists work with clients from across the UK & Ireland, the rest of Europe and 
       beyond to build meaningful products that engage users and achieve goals.
       <br><br>
       We truly believe that well 
       designed services and products can have a positive impact on the lives of real people. We ship work 
       that helps passionate people achieve great things.
       <br><br>
       We’re a small but dedicated studio with over two decades 
       worth of combined experience working in the realms of digital design, development and user research. 
       We’re always on the lookout for one more great client. Let’s create something great together!
      </p>

    </section>

    <section id="what-do-we-do">
      <h1 class="white-title">OUR SERVICES</h1>
      <h2 class="section-header">What Do We Do?</h2>
      <p class="section-body">
        We’re a remote user experience design studio. We’re passionate about helping our clients tackle 
        complex problems brought about by ever changing user needs and ever evolving technologies. 
        We help to turn ideas into sustainable businesses. Get in touch to learn what 
        <span class="italic">Burns Bros. & Co.</span> can do for you!
      </p>

      <div class="about-buttons">
        <p class="about-button">User Experience <br> Design & Research</p>
        <p class="about-button">Digital Strategy</p>
        <p class="about-button">Web <br> Development</p>



        <p class="about-button">App <br> Development</p>
        <p class="about-button">Consultation & <br> Evaluation</p>
        <p class="about-button">Prototyping</p>



        <p class="about-button">Interaction <br> Design</p>
        <p class="about-button">Service Design</p>
        <p class="about-button">Brand Identity</p>



        <p class="about-button">Illustration</p>
        <p class="about-button">Animation</p>
        <p class="about-button">Video Production</p>

      </div>

      <div class="about-buttons">
        <div class="half-size"></div>
        <p class="about-button">Music <br> Composition</p>
        <p class="about-button">Print Design</p>
        <div class="half-size"></div>
      </div>

    </section>

    <section id="why-do-we-do">
      <div class="content">
        <img src="assets/about/whywedo.png" alt="paper on table">

        <div class="right">
          <h2 class="small-header">Why We Do What We Do?</h1>
          <p class="body-writing">
            In today’s regularly shifting digital landscape user uptake, 
            retention and conversion relies heavily on a well designed experience. We love using well 
            designed services and products, and <span class="bold">we really love creating them</span>. We get a hit from forging relationships 
            with passionate people and helping them turn their ideas into reality.</p>
        </div>
      </div>
    </section>

    <section id="meet-the">
      <h2 class="section-header">Meet the<br> <img alt="burns bros logo smaller" class="half-logo-top" src="assets/half-logo.svg"></h2>

      <div id="profile-pictures">

        <div class="profile-picture-container brian-container">
          <div class="profile-picture" id="brian-picture">

            <div class="text-container" id="brian-color">
              <p class="text-left">Brian Burns</p>
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
              <p class="text-right">South Yorkshire</p>
            </div>
          </div>

          <div class="description">
            <p>
              Our Design Partner, <span class="serif">Brian</span>, has been working in the digital design industry 
              for well over a decade. He has worked within design teams at local design agencies and recently co-led user 
              experience design and research for an international software house. Here at Burns Bros. & Co. Brian is responsible 
              for client outreach, research and strategy, user experience and visual design. 
            </p>

            <p>
              An ardent footballer in his younger days, 
              Brian still attempts to kick a ball around from time to time and can be found at Elland Road most Saturdays. 
            </p>
            <a href="#">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              @brnbrns
            </a>
            <a href="#">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              brian@burnsbros.co
            </a>
          </div>

        </div>

        <div class="profile-picture-container gerry-container">
          <div class="profile-picture" id="gerry-picture">

            <div class="text-container" id="gerry-color">
              <p class="text-left">Gerard Burns</p>
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
              <p class="text-right">Belfast</p>
            </div>
          </div>

          <div class="description">
            <p> 
              Our Technical Partner, <span class="serif">Gerard</span>, is a self-taught programmer. 
              Gerard has been working as a freelance developer for the last 5 years and has extensive 
              experience building websites, apps and games. 
              As our lead engineer he manages all technical aspects of our day-to-day operations. 
            </p>
            <p>
              When he’s not at his desk and thinking in ones and zeros, he's plucking strings for a local 
              progressive rock band and gets taken for regular walks by Heidi and Rolo. 
            </p>
            <a href="#">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              @ghrehh
            </a>
            <a href="#">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              gerard@burnsbros.co
            </a>
          </div>

        </div>

      </div>

      <div id="collaborators">
        <img alt="burns bros half logo bottom" class="half-logo-bottom" src="assets/&Co.svg">
        <p>
          From time-to-time we work with a hand-selected network of expert collaborators 
          that we bring on board to make projects happen. They’re a great bunch!
        </p>
      </div>

    </section>

    <section id="how-do-we-work">
      <h1 class="white-title">OUR SERVICES</h1>
      <div class="content">
        <img src="assets/about/whywedo.png" alt="paper on table">

        <div class="right">
          <h2 class="section-header">How Do We Work?</h2>
          <p class="section-body">
            At Burns Bros. & Co. we’re all about building meaningful long-term relationships 
            with the purpose-driven people we work with. We do this by helping our clients grow 
            sustainable businesses around their customers, products and services. 
            <br>
            <br>
            We’ve written a little about our flexible set of tools and 
            processes that help us generate quick user-tested answers to problems on our blog.
          </p>
          <div class="button-container">
            <a class="white-button" href="#">GO TO BLOG POST</a>
          </div>
      </div>
      

    </section>

    <section id="in-the-community">
      <h2 class="section-header">Out in the Community</h2>
      <img src="assets/about/outinthe.png" alt="picture of crowd">
      <h3 class="small-header">Learn. Share. <br>Rinse and repeat.</h3>
      <p class="section-body">
        We're big into kinship and community here at Burns Bros. & Co.
        We believe in playing out part in fostering an environment of sharing
        and continuous learning.

        As well as speaking at pre-existing events in Belfast, Sheffield and beyond,
        we're hoping to organise some events of our own.

        <br>
        <br>

        We have big plans to host regular talks, workshops and hackathons.
        We see these as perfect vehicles to help us share what we learn along
        the way. We'll be sharing on this very soon.</p>
    </section>
  </main>



{% endblock %}
