<!-- active navbar link -->
{% set page = "client area" %}

{% extends "templates/template.html" %}

{% block content %}
    <main id="placeholder">

        <header>
            <p class="page-description">
                Client Area
            </p>
        </header>

        <section id="page-info">
            <p class="small-header"> The client login component of our website is still under construction, please check back at a later date. </p>
        </section>

    </main>
    
{% endblock %}
