{% extends "templates/template.html" %}

{% block content %}

  {% include "templates/partials/_nav.html" %}
  <main id="about">
    <header id="page-title-section" class="about-title-section">
      <h1 id="page-title">ABOUT</h1>
      <p id="page-description">
        Hi! We're Burns Bros. & Co.
        <br>
        We're a UX design studio.
      </p>
    </header>

    <section id="section-1">
      <h2 class="section-header">Who Are We?</h2>

      <p class="section-body">
        Hello there, we're Burns Bros. & Co. — A newly formed
        (mostly digital) design studio based out of Belfast and Sheffield.
        <br><br>
        Our Focus is on designing and building meaningful products for
        the common good.
      </p>

      <p class="section-body">
        Together, we've over two decades worth of experience in web development
        and building digital products.
        <br><br>
        If you'd like to work with us, we'd love to hear from you!
      </p>
    </section>

    <section id ="section-2">
      <h2 class="section-header">What Do We Do?</h2>
      <p class="section-body">
        With our strategy-led and human-centric approach we help our
        partners tackle complex problems brought about by ever changing
        user needs and rapidly evolving technologies.
      </p>

      <div class="about-buttons">
        <p class="about-button">Research</p>
        <p class="about-button">Strategy</p>
        <p class="about-button">Web Development</p>
      </div>

      <div class="about-buttons">
        <p class="about-button">Research</p>
        <p class="about-button">Strategy</p>
        <p class="about-button">Web Development</p>
      </div>

      <div class="about-buttons">
        <p class="about-button">Research</p>
        <p class="about-button">Strategy</p>
        <p class="about-button">Web Development</p>
      </div>

    </section>

  </main>


{% endblock %}
