{% extends "templates/template.html" %}

{% block content %}

<main id="index">
  <header id="page-title-section">
    <div class="title-container">
      <h1 id="page-title">HELLO THERE!</h1>
      <div class="image-container">
        <img alt="wave emoji" src="assets/emojis/wave.png" />
      </div>
    </div>


    <p id="page-description">
      We're a remote design studio
      <br>
      that's focused on building great
      <br />
      user experiences.
    </p>

    <p class="body-writing">
      We research, design, build, launch and continually enhance the
      <br />
      digital products that help start-ups and organisations grow.
    </p>

    <div class="button-container">
      <a class="orange-button" href="./about.html">LEARN MORE ABOUT US<span class="arrow">&rarr;</span></a>
      <a class="white-button" href="./contact.html">GET IN TOUCH!</a>
    </div>

  </header>
</main>

{% endblock %}
