<!-- active navbar link -->
{% set page = "jobs" %}

{% extends "templates/template.html" %}

{% block content %}

    <main id="placeholder">

        <header>
            <p class="page-description">
                Jobs at Burns Bros. & Co.
            </p>
        </header>

        <section id="page-info">
            <p class="small-header">We're not currently recruiting, but watch this space for information on any available positions</p>
        </section>

    </main>
    
{% endblock %}
