<!-- active navbar link -->
{% set page = "projects" %}

{% extends "templates/template.html" %}

{% block content %}

  <main id="projects">
    <header class="projects-title-section">
      <h1 class="white-title">PROJECTS</h1>
      <p class="page-description">
        Hi-ho, hi-ho...
        <br>
        <span class="page-description-small">It's off to work we go.</span>
      </p>
    </header>

    <section id="page-info">
      <h2 class="small-header">
        Here's a little glimpse of what we've been working on recently.
        <br />
        In-depth case studies will follow shortly...
      </h2>
    </section>


    <section id="examples">
      <div class="portfolio-image large">
        <img alt="clubman image" src="assets/projects/clubman-lg.png">
        <p>
           It takes a lot to organise and run a successful amateur sports club. 
           <span class="serif">Clubman</span> helps clubs embrace the 
           digital age and connect with their members along the way.
        </p>
      </div>

      <div class="portfolio-image medium">
        <img alt="newington image" src="assets/projects/newington-lg.png">
        <p>
           Alongside <span class="serif">Newington Football Club</span>
           we're taking advantage of growth opportunities for sports clubs
           in the digital age.
        </p>
      </div>

      <div class="portfolio-image small">
        <img alt="kooo image" src="assets/projects/kooo-lg.png">
        <p>
          Some things just aren't all that important. 
          <span class="serif">Kooo</span> helps you share with friends in
          a more mindful and distraction-free way.
        </p>
      </div>

      <div class="portfolio-image small">
        <img alt="tradesman image" src="assets/projects/tradesman-lg.png">
        <p>
          Finding, winning, scheduling, managing and getting paid for skilled 
          work can be tough going. <span class="serif">Tradesman</span> can
          help with that.
        </p>
      </div>

      <div class="portfolio-image medium">
        <img alt="burns bros tools image" src="assets/projects/tools-lg.png">
        <p>
          We're busy building tools that support out day-to-day operations at
          <span class="serif">Burns Bros. & Co.</span> we're big into sharing. 
          Stay tuned! 
        </p>
      </div>
    </section>

    <section id="internal-projects">
      <div class="content">
        <img src="assets/about/whywedo.png" alt="paper on table">

        <div class="right">
          <h2 class="section-header">Internal Projects</h2>
          <p class="section-body">
            At Burns Bros. & Co. we’re all about building meaningful long-term relationships 
            with the purpose-driven people we work with. We do this by helping our clients grow 
            sustainable businesses around their customers, products and services. 
            <br>
            <br>
            We’ve written a little about our flexible set of tools and 
            processes that help us generate quick user-tested answers to problems on our blog.
          </p>
          <div class="button-container">
            <a class="white-button" href="#">GO TO BLOG POST</a>
          </div>
      </div>
      

    </section>

    <section id="companies">
      <h2 class="section-header">Up Until Now...</h2>

      <p class="section-body">
        We're a brand new studio and as such we're still in the process
        of making new relationships with clients. However, in previous roles,
        we've had the pleasure of working wwith and producing work for some
        leading businesses, services, charities and educational bodies.
        To view a portfolio of previous work, please
        <a href="#">get in touch</a>
        .
      </p>

      <div class="companies">
        <div class="company-container"><img alt="queens" src="assets/projects/companies/queens.png"></div>
        <div class="company-container"><img alt="ni children's hospice" src="assets/projects/companies/hospice.png"></div>
        <div class="company-container"><img alt="bank of ireland" src="assets/projects/companies/boi.png"></div>
        <div class="company-container"><img alt="axa" src="assets/projects/companies/axa.png"></div>
        <div class="company-container"><img alt="national asbestos helpline" src="assets/projects/companies/asbestos.png"></div>
        <div class="company-container"><img alt="ulster univeristy" src="assets/projects/companies/UU.png"></div>
        <div class="company-container"><img alt="specsavers" src="assets/projects/companies/specsavers.png"></div>
        <div class="company-container"><img alt="xerox" src="assets/projects/companies/xerox.png"></div>
        
      </div>


    </section>
  </main>

{% endblock %}
