{% extends "templates/template-dark.html" %}

{% block content %}

<main id="project-planner">
    <section id="form">
      <div class="overlay">
        <div class="overlay-inner">
          <div class="image-container party-popper-container">
            <img alt="party-popper-emoji" src="assets/emojis/party-popper.png" />
          </div>
          <h1 class="section-header">
            Message Recieved
            <br />
            Loud & Clear!
          </h1>
          <p class="body-writing">
            Thanks very much for getting in touch! We'll give your message a read
            and get back to you sometime in the next few days.
            <br />
            Chat soon!
          </p>

          <a class="body-writing send-another" href="javascript:void(0)">Send another message.</a>
        </div>
      </div>

      <div id="form-inner">


       <h1 class="section-header large">Project Planner</h1>

        <p class="section-body">
            Got an idea for a project? Great; we're all ears!
            To get the ball
            <br>
            rolling let's gather some basic information
            about your project.
        </p>

        <h2 class="section-header">Your Details</h2>


        <form id="project-planner-form">

          <div class="form-field name-field">
            <label for="name">Your Name</label>
            <input placeholder="Your Name" id="name" type="text" name="entry.146017563">
          </div>

          <div class="form-field organisation-field">
            <label for="organisation">Your Organisation</label>
            <input placeholder="Organisation Name" id="organisation" type="text" name="entry.1962451966">
          </div>

          <div class="form-field email-field">
            <label for="email">Your Email Address*</label>
            <input placeholder="your@email.com" id="email" type="text" name="entry.1337240607">
            <p class="body-writing error-message">
              Looks like your email isn't valid.
            </p>
          </div>

          <div class="form-field phone-field">
            <label for="phone">Your Phone Number</label>
            <input placeholder="1234567890" id="phone" type="text" name="entry.1042128474">
          </div>

          <div class="form-field info-field large">
            <label for="info">Tell Us About Your Project/Leave Your Comments*</label>
            <textarea placeholder="Type a little bit about the project you'd like to work on." id="info" type="text" name="entry.361475016"></textarea>
            <p class="body-writing error-message">
              You must include a message.
            </p>
          </div>


          <input class="orange-button" type="submit" value="SEND">
          <p id="required-fields">*Required Fields</p>

        </form>

        <div class="error-alert">

          <p class="body-writing">
            Oops, your message couldn't be sent. Please take a look at the
            highlighted fields and try again.
          </p>

        </div>
      </div>
    </section>
</main>
<script src="scripts/project-planner-form.js"></script>

{% endblock %}