{% extends "templates/template.html" %}

{% block content %}
  {% include "templates/partials/_nav.html" %}

  <main id="projects">
    <header id="page-title-section" class="projects-title-section">
      <h1 id="page-title">PROJECTS</h1>
      <p id="page-description">
        We're always tinkering...
        <br>
        Here's what we're working on
      </p>
    </header>

    <section id="section-1">
      <div class="portfolio-image large">
        <img alt="large placeholder" src="assets/placeholders/large.png">
        <p>
          <span class="serif">Project</span> vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
        </p>
      </div>

      <div class="portfolio-image medium">
        <img alt="medium placeholder" src="assets/placeholders/medium.png">
        <p>
          <span class="serif">Website</span> vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
        </p>
      </div>

      <div class="portfolio-image small">
        <img alt="small placeholder" src="assets/placeholders/small.png">
        <p>
          <span class="serif">Thingy</span> vero eos accusamus et iusto odio qui blanditiis praesentium voluptatum deleniti atque corrupti.
        </p>
      </div>

      <div class="portfolio-image large">
        <img alt="large placeholder" src="assets/placeholders/large.png">
        <p>
          <span class="serif">Project</span> vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.
        </p>
      </div>
    </section>
    <section id="section-2">
      <h2 class="section-header">Up Until Now...</h2>

      <p class="section-body">
        We're a brand new studio and as such we're still in the process
        of making new relationships with clients. However, in previous roles,
        we've had the pleasure of working wwith and producing work for some
        leading businesses, services, charities and educational bodies.
        To view a portfolio of previous work, please
        <a href="#">get in touch</a>
        .
      </p>

      <div class="companies">
        <img alt="queens" src="assets/companies/queens.png">
        <img alt="ni children's hospice" src="assets/companies/hospice.png">
        <img alt="bank of ireland" src="assets/companies/boi.png">
        <img alt="injixo" src="assets/companies/injixo.png">
        <img alt="national asbestos helpline" src="assets/companies/asbestos.png">
        <img alt="ulster univeristy" src="assets/companies/UU.png">
      </div>

    </section>
  </main>

  {% include "templates/partials/_footer.html" %}

{% endblock %}
