{% extends "templates/template-dark.html" %}

{% block content %}

<main id="project-planner">
    <section id="form">
      <div class="overlay">
        <div class="overlay-inner">
          <div class="image-container party-popper-container">
            <img alt="party-popper-emoji" src="assets/emojis/party-popper.png" />
          </div>
          <h1 class="section-header">
            Message Recieved
            <br />
            Loud & Clear!
          </h1>
          <p class="body-writing">
            Thanks very much for getting in touch! We'll give your message a read
            and get back to you sometime in the next few days.
            <br />
            Chat soon!
          </p>

          <a class="body-writing send-another" href="javascript:void(0)">Send another message.</a>
        </div>
      </div>

      <div id="form-inner">


       <h1 class="section-header large-header">Project Planner</h1>

        <p class="section-body">
            Got an idea for a project? Great; we're all ears!
            To get the ball
            <br>
            rolling let's gather some basic information
            about your project.
        </p>

        <h2 class="section-header">Your Details</h2>


        <form id="project-planner-form">

          

          <div class="form-field name-field">
            <label for="name">Your Name</label>
            <input placeholder="Your Name" id="name" type="text" name="entry.146017563">
          </div>

          <div class="form-field organisation-field">
            <label for="organisation">Your Organisation</label>
            <input placeholder="Organisation Name" id="organisation" type="text" name="entry.1962451966">
          </div>

          <div class="form-field email-field">
            <label for="email">Your Email Address*</label>
            <input placeholder="your@email.com" id="email" type="text" name="entry.1337240607">
            <p class="body-writing error-message">
              Looks like your email isn't valid.
            </p>
          </div>

          <div class="form-field phone-field">
            <label for="phone">Your Phone Number</label>
            <input placeholder="1234567890" id="phone" type="text" name="entry.1042128474">
          </div>

          <h2 class="section-header">Your Project</h2>

          <div class="form-field project-type-field large">
            <label for="info">What type of project have you got in mind?*</label>
            <div class="project-type selection" data-type="project type">
              
              <div class="option active-option" data-value="Web Development">
                <div class="image-container">
                  <img alt="web dev icon" src="assets/project_planner/webdev.svg">
                </div>
                <div class="hover-image-container image-container">
                  <img alt="web dev icon hover" src="assets/project_planner/webdev-hover.svg">
                </div>
                <p class="body-writing">
                  Web
                  <br>
                  Development
                </p>
              </div>

              <div class="option" data-value="App Development">
                <div class="image-container">
                  <img alt="app dev icon" src="assets/project_planner/appdev.svg">
                </div>
                <div class="hover-image-container image-container">
                    <img alt="app dev hover icon" src="assets/project_planner/appdev-hover.svg">
                  </div>
                <p class="body-writing">
                  App
                  <br>
                  Development
                </p>
              </div>

              <div class="option" data-value="Research and Consulting">
                <div class="image-container">
                  <img alt="research and consulting icon" src="assets/project_planner/research.svg">
                </div>
                <div class="hover-image-container image-container">
                  <img alt="research and consulting hover icon" src="assets/project_planner/research-hover.svg">
                </div>
                <p class="body-writing">
                  Research &
                  <br>
                  Consultation
                </p>
              </div>

              <div class="option" data-value="Something Else">
                <div class="image-container">
                  <img alt="question mark icon" src="assets/project_planner/somethingelse.svg">
                </div>
                <div class="hover-image-container image-container">
                  <img alt="question mark hover icon" src="assets/project_planner/somethingelse-hover.svg">
                </div>
                <p class="body-writing">
                  Something
                  <br>
                  Else
                </p>
              </div>

            </div>
            <p class="body-writing error-message">
              Please select what type of project you have in mind.
            </p>
          </div>

          <div class="form-field info-field large">
            <label for="info">Tell Us About Your Project*</label>
            <textarea placeholder="Let us know a little about your project..." id="info" type="text" name="entry.361475016"></textarea>
            <p class="body-writing error-message">
              You must include a message.
            </p>
          </div>

          <div class="form-field start-date-field large">
            <label for="info">When would you like us to start working on your project?*</label>
            <div class="start-date selection" data-type="begin date">
              
              <div class="option active-option" data-value="ASAP">
                <p class="body-writing">
                  ASAP
                </p>
              </div>

              <div class="option" data-value="No Rush">
         
                <p class="body-writing">
                  No Huge Hurry!
                </p>
              </div>

              <div class="option" data-value="Custom">
        
                <p class="body-writing">
                  Select Ideal Date
                </p>
              </div>


            </div>
            <p class="body-writing error-message">
              Please select a start date for your project.
            </p>
          </div>

          <div class="form-field deadline-field large">
            <label for="info">Do you have a deadline in mind for your project?*</label>
            <div class="deadline selection" data-type="deadline">
              
              <div class="option active-option" data-value="ASAP">
                <p class="body-writing">
                  ASAP (Yesterday!)
                </p>
              </div>

              <div class="option" data-value="No Rush">
         
                <p class="body-writing">
                  When It's Done
                </p>
              </div>

              <div class="option" data-value="Custom">
        
                <p class="body-writing">
                  Select Ideal Date
                </p>
              </div>

            </div>
            <p class="body-writing error-message">
              Please select a deadline for your project.
            </p>
          </div>

          <div class="form-field budget-field large">
            <label for="info">What's the likely budget for your project?*</label>
            <p class="small">
              Your budget determines how much time we're able to allocate
              to your project. By telling us this information upfront, we're 
              able to keep your project's scope realistic while enabling you 
              to put your budget to its best possible use.
            </p>
            <div class="budget selection" data="budget">

              <div class="bar-container">
                <div class="bar">
                  <div class="bar-inner"></div>
                </div>
              </div>
              
              <div class="option option-1 active-option" data-budget="<10000">
                <p class="body-text number active-number">&lt;£10,000</p>
                <div class="circle"></div>
              </div>

              <div class="option option-2" data-budget="20000">
                <p class="body-text number">£20,000</p>
                <div class="circle"></div>
              </div>

              <div class="option option-3" data-budget="30000">
                <p class="body-text number">£30,000</p>
                <div class="circle"></div>
              </div>

              <div class="option option-4" data-budget="40000">
                <p class="body-text number">£40,000</p>
                <div class="circle"></div>
              </div>

              <div class="option option-5" data-budget="50000+">
                <p class="body-text number">£50,000+</p>
                <div class="circle"></div>
              </div>
  
  
            </div>
           
            <p class="body-writing error-message">
              Please select a budget for your project.
            </p>
          </div>

          <div class="send-button-container">
            <p class="required-fields hidden">*Required Fields</p>
            <input class="orange-button" type="submit" value="SEND PROJECT DETAILS">
            <p class="required-fields">*Required Fields</p>

          </div>

        </form>

        <div class="error-alert">

          <p class="body-writing">
            Oops, your message couldn't be sent. Please take a look at the
            highlighted fields and try again.
          </p>

        </div>
      </div>
    </section>
</main>
<script src="scripts/project-planner-form.js"></script>

{% endblock %}