<!-- active navbar link -->
{% set active_link = "projects" %}

{% extends "templates/template.html" %}

{% block content %}

  <main id="projects">
    <header class="projects-title-section">
      <h1 class="white-title">PROJECTS</h1>
      <p class="page-description">
        Hi-ho, hi-ho...
        <br>
        <span class="page-description-small">It's off to work we go.</span>
      </p>
    </header>

    <section id="page-info">
      <h2 class="small-header">
        Here's a little glimpse of what we've been working on recently.
        <br />
        In-depth case studies will follow shortly...
      </h2>
    </section>


    <section id="examples">
      <div class="portfolio-image large">
        <img alt="clubman image" src="assets/projects/clubman-lg.png">
        <p>
           It takes a lot to organise and run a successful amateur sports club. 
           <span class="serif">Clubman</span> helps clubs embrace the 
           digital age and connect with their members along the way.
        </p>
      </div>

      <div class="portfolio-image medium">
        <img alt="newington image" src="assets/projects/newington-lg.png">
        <p>
           Alongside <span class="serif">Newington Football Club</span>
           we're taking advantage of growth opportunities for sports clubs
           in the digital age.
        </p>
      </div>

      <div class="portfolio-image small">
        <img alt="kooo image" src="assets/projects/kooo-lg.png">
        <p>
          Some things just aren't all that important. 
          <span class="serif">Kooo</span> helps you share with friends in
          a more mindful and distraction-free way.
        </p>
      </div>

      <div class="portfolio-image small">
        <img alt="tradesman image" src="assets/projects/tradesman-lg.png">
        <p>
          Finding, winning, scheduling, managing and getting paid for skilled 
          work can be tough going. <span class="serif">Tradesman</span> can
          help with that.
        </p>
      </div>

      <div class="portfolio-image medium">
        <img alt="burns bros tools image" src="assets/projects/tools-lg.png">
        <p>
          We're busy building tools that support out day-to-day operations at
          <span class="serif">Burns Bros. & Co.</span> we're big into sharing. 
          Stay tuned! 
        </p>
      </div>
    </section>

    <section id="burns-unit">
      <div class="content">
        <h2 class="section-header">Internal Projects</h2>
        <p class="body-writing">
          Experimentation and continuous learning are huge parts of what we’re all about here at Burns Bros. & Co. 
          So much so that we schedule regular studio time to focus on our own side projects.
        </p>

        <p class="body-writing">
          We use this time to reflect on how we run our studio. We dig deep and look hard at 
          things like: how we position our business; how we communicate & collaborate both internally (pretty integral stuff 
          considering we’re a remote studio) and externally with our clients; 
          and the processes and methods that we use to organise and produce work.
        </p>

        <p class="body-writing">
          Our experiments challenge us to validate how we: operate, attract new business, 
          generate ideas, conceptualise, plan, design and ultimately build digital products.
        </p>

        <p class="body-writing">
          By sandboxing time, we give ourselves space in which to broaden our horizons, look at problems 
          in new ways and keep up-to-date with the latest advancements in design and tech. We get great satisfaction 
          from bringing what we’ve learned from our experiments into our day-to-day client work. 
        </p>

        <p class="body-writing">
          We enjoy getting out of our beds and beginning work each morning. We’re aiming to keep things 
          that way through practicing continuous innovation, experimentation, studio hacking and learning. Combined, all of this keeps us at the top of our game and working in a sustainable way on interesting things. 
          We want to continue creating work for great people that solves big problems.
        </p>

        <p class="body-writing">
          To date our in-house experiments have resulted in the creation of tools that can do things like: 
          teach music students to read sheet music and train their ears to recognise intervals, and apps that 
          scour social media platforms for emerging patterns. Meanwhile, our studio hacking workshops have helped us 
          tweak and strengthen our operational models, 
          core values, strategies, workflows, production processes, etc. 
        </p>

        <p class="body-writing">
          We’re aiming to share a lot more about our side projects, experiments, 
          workshops and organisational set-up. Look out for further updates on our blog!
        </p>
      </div>

      
    </section>

    <section id="companies">
      <h2 class="section-header">Up Until Now...</h2>

      <p class="section-body">
        We're a brand new studio and as such we're still in the process
        of making new relationships with clients. However, in previous roles,
        we've had the pleasure of working wwith and producing work for some
        leading businesses, services, charities and educational bodies.
        To view a portfolio of previous work, please
        <a href="#">get in touch</a>
        .
      </p>

      <div class="companies">
        <div class="company-container"><img alt="queens" src="assets/projects/companies/queens.png"></div>
        <div class="company-container"><img alt="ni children's hospice" src="assets/projects/companies/hospice.png"></div>
        <div class="company-container"><img alt="bank of ireland" src="assets/projects/companies/boi.png"></div>
        <div class="company-container"><img alt="injixo" src="assets/projects/companies/injixo.png"></div>
        <div class="company-container"><img alt="national asbestos helpline" src="assets/projects/companies/asbestos.png"></div>
        <div class="company-container"><img alt="ulster univeristy" src="assets/projects/companies/UU.png"></div>
        <div class="company-container"><img alt="specsavers" src="assets/projects/companies/specsavers.png"></div>
        <div class="company-container"><img alt="xerox" src="assets/projects/companies/xerox.png"></div>
        <div class="company-container"><img alt="axa" src="assets/projects/companies/axa.png"></div>
      </div>


    </section>
  </main>

{% endblock %}
