<!-- active navbar link -->
{% set page = "terms" %}

{% extends "templates/template.html" %}

{% block content %}
    <main id="placeholder">

        <header>
            <p class="page-description">
                Terms and Conditions
            </p>
        </header>

        <section id="page-info">
            <p class="small-header">Terms terms terms terms terms terms terms terms terms. 
                Terms terms terms terms terms terms terms terms terms. 
                Terms terms terms terms terms terms terms terms terms. Terms terms terms terms terms terms terms terms terms. </p>
        </section>

    </main>
    
{% endblock %}
